<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/antd/5.26.5/reset.min.css"
      integrity="sha512-Qj3slQO4ybZ0ejbSZ3HMD7dT9C3A8iU6+D4ikpuQfwVZST7lzJLygYajXNgMksvQF7WSKCAdXtWtPsGKLN9apQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css"
      integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"
    /> -->
    <title>Đăng nhập hệ thống</title>
  </head>
  <body>
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder=".form-control-lg"
      aria-label=".form-control-lg example"
    />
    <input
      class="form-control"
      type="text"
      placeholder="Default input"
      aria-label="default input example"
    />
    <input
      class="form-control form-control-sm"
      type="text"
      placeholder=".form-control-sm"
      aria-label=".form-control-sm example"
    />
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <main class=""><%- body %></main>
  </body>
</html>
