<!-- <div class="">
    <div class="">
<img
    src="/images/404-not-found.png"
    style="width: 90px; height: auto"
    alt="Error"
    class="img-fluid"
  />
    </div>
     <div class="">
<img
    src="/images/404-not-found.png"
    style="width: 90px; height: auto"
    alt="Error"
    class="img-fluid"
  />
    </div>
  

</div> -->


<div class="d-flex flex-column mb-3 align-items-center ">
  <div class="p-2">
    
    <img
    src="/images/404-not-found.png"
    style="width: 290px; height: auto"
    alt="Error"
    class="img-fluid"
  /></div>
  <div class="p-2">404</div>
  <div class="p-2">Rất tiếc! Không tìm thấy trang</div>
  <div class="p-2">Liên kết này có thể bị hỏng, hoặc trang này có thể đã được loại bỏ.</div>
  <div class="p-2">Quay về trang chủ</div>

</div>