<div class="container">
  <h3 class="">Trang chủ/Khác/sản phẩm</h3>
  <div class="d-flex">
    <div class="flex-grow-1">
      <h1>sdads</h1>
    </div>
    <div class="flex-grow-1">
      <h2>Tình trạng:còn hàng</h2>
      <h2>Mã sản phẩm</h2>
      <h2 class="">Giá</h2>
      <h2 class="">Số lượng</h2>
    </div>
  </div>
</div>
