<div class="container row">
  <div class="col-6">
    <h3 class="">1Trang chủ/Khác/sản phẩm</h3>
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="/images/404-not-found.png" style="width: 100%" />
    </div>
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="img_woods_wide.jpg" style="width: 100%" />
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="img_5terre_wide.jpg" style="width: 100%" />
    </div>

    <div class="row">
      <div class="column">
        <img
          class="demo cursor"
          src="/images/404-not-found.png"
          style="width: 100%"
          onclick="currentSlide(1)"
          alt="The Woods"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/images/404-not-found.png"
          style="width: 100%"
          onclick="currentSlide(2)"
          alt="Cinque Terre"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/images/404-not-found.png"
          style="width: 100%"
          onclick="currentSlide(3)"
          alt="Mountains and fjords"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/images/404-not-found.png"
          style="width: 100%"
          onclick="currentSlide(4)"
          alt="Northern Lights"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/images/404-not-found.png"
          style="width: 100%"
          onclick="currentSlide(5)"
          alt="Nature and sunrise"
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/images/404-not-found.png"
          style="width: 100%"
          onclick="currentSlide(6)"
          alt="Snowy Mountains"
        />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="">
      <h1>Combo 2 lon Sữa Vinamilk Yoko Gold 3 850g (2-6 tuổi)</h1>
    </div>
    <div class="">
      <h4 class="mt-4">Thương hiệu: còn hàng</h4>
      <h4 class="mt-4">Mã sản phẩm: SP01</h4>

      <h4 class="mt-4">Giá sản phẩm:</h4>
      <div class="row">
        <h1 class="col-3 fw-bold text-danger">2.290.000 ₫</h1>
        <h2 class="col-4 text-decoration-line-through text-secondary fw-light">
          3.000.000 ₫
        </h2>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <div class="row p-2">
            <i class="text-success col-auto fa-solid fa-gift"></i>
            <h2 class="col mb-0">Quà tặng hấp dẫn</h2>
          </div>
        </div>
        <div class="row p-2">
          <i class="col-auto fa-solid fa-circle-check text-success"></i>
          <h5 class="col mb-0">Ưu đãi 48% khi đặt hàng trong hôm nay</h5>
        </div>
        <div class="row p-2">
          <i class="col-auto fa-solid fa-circle-check text-success"></i>
          <h5 class="col mb-0">
            Tặng voucher giảm giá phụ kiện treo nôi xinh xắn trị giá 100.000 ₫
            khi đặt hàng trong hôm nay
          </h5>
        </div>
        <div class="row p-2">
          <i class="col-auto fa-solid fa-circle-check text-success"></i>
          <h5 class="col mb-0">
            Voucher trị giá 5% giá trị đơn hàng hiện tại áp dụng cho lần mua
            hàng sau
          </h5>
        </div>

        <div class="row p-2">
          <i class="col-auto fa-solid fa-circle-check text-success"></i>
          <h5 class="col mb-0">Tặng bộ mùng trị giá 150.000 ₫</h5>
        </div>

        <div class="row p-2">
          <i class="col-auto fa-solid fa-circle-check text-success"></i>
          <h5 class="col mb-0">
            Tặng 2 thanh nhựa bọc cũi và mẫu sticker siêu dễ thương
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <button
        class="btn btn-warning col-6 btn-lg"
        style="
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 2rem;
          color: white;
        "
      >
        ĐẶT HÀNG NGAY
      </button>
    </div>
    <div class="mt-5"></div>
  </div>
</div>

<div class="mt-5">
  <p class="">Mô tả</p>
</div>
<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }
</script>
