<div class="container row">
  <div class="col-6">

  <h3 class="">Trang chủ/Khác/sản phẩm</h3>
  </div>

  <div class="col-6">
    <div class="">
      <h1>Combo 2 lon Sữa Vinamilk Yoko Gold 3 850g (2-6 tuổi)</h1>
    </div>
    <div class="">
      <h4>Thương hiệu: còn hàng</h4>
      <h4>Mã sản phẩm: SP01</h4>
      <h4 class="">Giá: 2.290.000 ₫</h4>
      <h4 class="">Quà tặng</h4>
      <h5 class="">Ưu đãi 48% khi đặt hàng trong hôm nay</h5>
      <h5 class="">Ưu đãi 48% khi đặt hàng trong hôm nay</h5>
      <h5 class="">Ưu đãi 48% khi đặt hàng trong hôm nay</h5>
    </div>
    <div class="row">
      <button class="btn btn-success col-6" >Đặt hàng ngay</button>
      <button class="btn btn-success col-6">Thêm vào giỏ hàng </button>
    </div>
    <div class="mt-5">
</div>

  </div>
</div>