<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    sonbh421
</body>
</html> -->

<div class="container d-flex flex-wrap justify-content-evenly row-gap-4 mx-auto ">
<% users.forEach(user => { %>
    <div class="card " style="width: 25rem;">
        <img src="https://picsum.photos/200" class="card-img-top" alt="...">
        <div class ="p-2">
            <h5 class="card-title">Bàn học thông minh smart D(Màu xanh – dài 1m2 + ghế G20)</h5>
            <p class="card-text">13.300.000 ₫ – 17.100.000 ₫</p>
            <a class="btn btn-primary" href="/products/<%= user.id %>">Đặt hàng</a>
        </div>
    </div>
<% }) %>
</div>